<template>
  <div>
    <div id="map">
    </div>
    <div>
      <div class="error" v-if="errorMessage">{{ errorMessage }}</div>
      <div>
        <input id="name" type="text" v-model="event.name" placeholder="название события" />
        <label for="name" class="error" v-if="invalid">{{ validationResult.fieldErrors.name }}</label>
      </div>
      <div>
        <input id="description" type="text" v-model="event.description" placeholder="описание"/> 
        <label for="description" class="error" v-if="invalid">{{ validationResult.fieldErrors.description }}</label>
      </div>
      <div>
        <input id="date" type="text" v-model="event.date" placeholder="дата и время в формате ISO-8601"/>
        <label for="date" class="error" v-if="invalid">{{ validationResult.fieldErrors.date }}</label>
      </div>
      <div>
        <button @click="validateAndCreate">Создать событие</button>
      </div>
    </div>
  </div>

</template>

<script>
import GoogleMapsLoader from 'google-maps'

export default {
  name: 'create-event',
  data() {
    return {
      event: {
        name: '',
        description: '',
        date: '',
        lat: 0,
        lng: 0
      },
      marker: null,
      validationResult: null,
      errorMessage: null
    }
  },
  mounted: function() {
    var vm = this;
    GoogleMapsLoader.load(function(google) {
      navigator.geolocation.getCurrentPosition(function(location) {
        var lat = location.coords.latitude;
        var lng = location.coords.longitude;

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: { lat, lng }
        });

        vm.marker = new google.maps.Marker({
          map,
          position: { lat, lng },
          draggable: true,
          animation: google.maps.Animation.DROP
        });
      });
    })
  },
  computed: {
    invalid: function() {
      return this.validationResult !== null && this.validationResult.valid === false;
    }
  },
  methods: {
    create: function() {
      this.$http.post('events', this.event).then(response => {
        this.$router.push(`/events/${response.body.id}`);
      }, response => {
        this.errorMessage = "Что-то пошло не так";
      });
    },
    validateAndCreate: function() {
      var position = this.marker.getPosition();
      this.event.lat = position.lat();
      this.event.lng = position.lng();

      this.$http.post('events/validate', this.event).then(response => {
        this.validationResult = response.body;

        console.log(`this.validationResult.valid = ${this.validationResult.valid}`);
        if (this.validationResult.valid) {
          this.create();
        }
      }, response => {
        this.errorMessage = "Что-то пошло не так";
      });
    }
  }
}
</script>

<style>
#map {
  width: 640px;
  height: 480px;
  align-content: center;
}
</style>
