<template>
	<div>
		<div id="flash" v-if="flashMessage" :class="flashClass">
			{{ flashMessage }}
		</div>
		<div>
			email: {{ user.email }}
		</div>
		<div>
			имя:
			<input id="name" type="text" v-model="user.name" />
			<label for="name" class="error" v-if="invalid">{{ validationResult.fieldErrors.name }}</label>
		</div>
		<div>
			о себе:
			<input id="info" type="text" v-model="user.info" />
			<label for="info" class="error" v-if="invalid">{{ validationResult.fieldErrors.info }}</label>
		</div>
		<div>
			<button @click="validateAndUpdate">Ок</button>
		</div>
	</div>
</template>

<script>
export default {
	name: 'edit-account',
	data() {
		return {
			user: {
				id: null,
				email: null,
				name: "",
				info: ""
			},
			flashMessage: null,
			flashClass: null,
			validationResult: null
		}
	},
	beforeRouteEnter (to, from, next) {
		next(vm => {
			vm.loadCurrentUser();
		})
	},
	computed: {
		invalid: function() {
			return this.validationResult != null && !this.validationResult.valid
		}
	},
	methods: {
		update: function() {
			this.$http.put(`users/${this.user.id}`, this.user).then(response => {
				this.flashMessage = "Данные обновлены";
				this.flashClass = "success";
			}, response => {
				this.flashMessage = "Что-то пошло не так";
				this.flashClass = "error";
			});
		},
		validateAndUpdate: function() {
			this.$http.put(`users/${this.user.id}/validate`, this.user).then(response => {
				this.validationResult = response.body;

				if (this.validationResult.valid) {
					this.update();
				}
			}, response => {
				this.flashMessage = "Что-то пошло не так";
				this.flashClass = "error";
			});
		},
		loadCurrentUser: function() {
			this.$http.get('currentUser').then(response => {
				this.user = response.body
			}, response => {
				this.$router.push('/unexpectederror')
			})
		}
	}
}
</script>

<style>
	.success {
		color: #00FF00;
	}
	.error {
		color: #FF0000;
	}
</style>
