<template>
  <div>
    <div>{{ event.name }}</div>
    <div>{{ event.description }}</div>
    <div>
      Участники:
      <ul>
        <li v-for="user in event.participants">
          <router-link :to="userLink(user)">{{ user.name }}</router-link>
        </li>
      </ul>
    </div>
    <div v-if="authenticated">
      Идете?
      <input type="checkbox" v-model="event.enrolled" @click="toggleEnrollmentStatus">
    </div>
  </div>
</template>

<script>
export default {
  name: 'event-details',
  data() {
    return {
      event: {
        name: '',
        description: '',
        participants: [],
        enrolled: false
      }
    }
  },
  computed: {
    authenticated() {
      return this.$store.state.authenticated
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.loadEvent();
    })
  },
  methods: {
    loadEvent: function() {
      var id = this.$route.params.id;
      
      this.$http.get(`events/${id}`).then(response => {
        this.event.name = response.body.name;
        this.event.description = response.body.description;
      }, response => {
        this.$router.push('/unexpectederror')
      });

      this.$http.get(`events/${id}/enrollmentstatus`).then(response => {
        switch (response.body.status) {
          case "Enrolled":
            this.event.enrolled = true;
            break;
          case "NotEnrolled":
            this.event.enrolled = false;
            break;
          default:
            this.$router.push('/unexpectederror')    ;
        }
        this.event.participants = response.body.entities;
      }, response => {
        this.$router.push('/unexpectederror')
      });

      this.$http.get(`events/${id}/participants`).then(response => {
        // TODO: handle multiple pages
        this.event.participants = response.body.entities;
      }, response => {
        this.$router.push('/unexpectederror')
      });
    },
    toggleEnrollmentStatus: function() {
      var id = this.$route.params.id;

      if (this.event.enrolled) {
        this.$http.post(`events/${id}/enroll`).then(response => {
          this.event.enrolled = true;
        }, response => {
          this.$router.push('/unexpectederror')
        });
      } else {
        this.$http.delete(`events/${id}/unenroll`).then(response => {
          this.event.enrolled = false;
        }, response => {
          this.$router.push('/unexpectederror')
        });  
      }

      this.$emit('input');
      this.loadEvent();
    },
    userLink: function(user) {
      return `/users/${user.id}`;
    }
  }
}
</script>
