<template>
  <div id="map">
  </div>
</template>

<script>
import GoogleMapsLoader from 'google-maps'

export default {
  name: 'events',
  data() {
    return {
    }
  },
  mounted: function() {
    var vm = this;

    GoogleMapsLoader.load(function(google) {
      navigator.geolocation.getCurrentPosition(function(location) {
        var lat = location.coords.latitude;
        var lng = location.coords.longitude;

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: { lat: lat, lng: lng }
        });

        google.maps.event.addListenerOnce(map, 'idle', function(){
          vm.loadMarkers(google, map);
        });

        google.maps.event.addListener(map, 'zoom_changed', function(){
          vm.loadMarkers(google, map);
        });

        google.maps.event.addListener(map, 'center_changed', function(){
          vm.loadMarkers(google, map);
        });
      });
    });
  },
  methods: {
    loadMarkers: function(google, map) {
      var bounds = map.getBounds();
      var sw = bounds.getSouthWest();
      var ne = bounds.getNorthEast();

      var params = {
        minLat: sw.lat(),
        minLng: sw.lng(),
        maxLat: ne.lat(),
        maxLng: ne.lng()
      };
      this.$http.get('events', { params }).then(response => {
        // TODO: create cluster if number of events is bigger than page size
        response.body.entities.forEach(event => {
          var marker = new google.maps.Marker({
            position: { lat: event.lat, lng: event.lng },
            map,
            eventId: event.id,
            title: event.name
          });

          var vm = this;
          google.maps.event.addListener(marker, 'click', function() {
            vm.$router.push(`/events/${marker.eventId}`);
          });
        })
      }, response => {
        this.$router.push('/unexpectederror')
      })
    }
  }
}
</script>

<style>
#map {
  width: 640px;
  height: 480px;
  align-content: center;
}
</style>
