<template>
	<div>
		<div class="error" v-if="errorMessage">{{ errorMessage }}</div>
		<div>
			<input type="text" v-model="credentials.email" placeholder="email"/>
		</div>
		<div>
			<input type="password" v-model="credentials.password" placeholder="пароль"/>
		</div>
		<div>
			<button v-on:click="login">Войти</button>
		</div>
	</div>
</template>

<script>
export default {
	name: 'login',
	data() {
		return {
			credentials: {
				email: null,
				password: null
			},
			errorMessage: null
		}
	},
	methods: {
		login: function() {
			this.$http.post('login', this.credentials).then(response => {
				this.$store.commit('login')
				this.$router.push('/');
			}, response => {
				this.errorMessage = response.status === 400 && response.body.error === "WrongPasswordOrBadEmail"
					? "Неправильный логин или пароль"
					: "Что-то пошло не так";
			});
		}
	}
}
</script>

<style>
.error {
	color: #FF0000;
}
</style>
