<template>
  <div>
    <ul>
      <li><router-link to="/">На главную</router-link></li>
      <li><router-link to="/events">События</router-link></li>
      <li><router-link to="/events/new">Создать событие</router-link></li>
    </ul>
    <div v-if="authenticated">
      <ul>
        <li><router-link to="/account">Мой аккаунт</router-link></li>
        <li @click="logout"><a>Выйти</a></li>
      </ul>
    </div>
    <div v-else>
      <ul>
        <li><router-link to="/login">Войти</router-link></li>
        <li><router-link to="/signup">Зарегистрироваться</router-link></li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'profile-preview',
  computed: {
    authenticated() {
      return this.$store.state.authenticated
    }
  },
  methods: {
    logout: function() {
      this.$store.commit('logout');
      this.$router.push('/');
    }
  }
}
</script>
