<template>
	<div>
		<div class="error" v-if="errorMessage">{{ errorMessage }}</div>
		<div>
			<input id="email" type="text" v-model="credentials.email" placeholder="email" />
			<label for="email" class="error" v-if="invalid">{{ validationResult.fieldErrors.email }}</label>
		</div>
		<div>
			<input id="password" type="password" v-model="credentials.password" placeholder="пароль"/>
			<label for="password" class="error" v-if="invalid">{{ validationResult.fieldErrors.password }}</label>
		</div>
		<div>
			<button @click="validateAndRegister">Зарегистрироваться</button>
		</div>
	</div>
</template>

<script>
export default {
	name: 'signup',
	data() {
		return {
			credentials: {
				email: null,
				password: null
			},
			validationResult: null,
			errorMessage: null
		}
	},
	computed: {
		invalid: function() {
			return this.validationResult !== null && this.validationResult.valid === false;
		}
	},
	methods: {
		register: function() {
			this.$http.post('register', this.credentials).then(response => {
				this.$store.commit('login')
				this.$router.push('/');
			}, response => {
				this.errorMessage = "Что-то пошло не так";
			});
		},
		validateAndRegister: function() {
			this.$http.post('register/validate', this.credentials).then(response => {
				this.validationResult = response.body;

				if (this.validationResult.valid) {
					this.register();
				}
			}, response => {
				this.errorMessage = "Что-то пошло не так";
			});
		}
	}
}
</script>

<style>
.error {
	color: #FF0000;
}
</style>
