<template>
  <div>
    <div>{{ user.email }}</div>
    <div>{{ user.name }}</div>
    <div>{{ user.info }}</div>
    <ul>
      <li v-for="event in user.enrollments">
        <router-link :to="eventLink(event)">{{ event.name }}</router-link>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'user-details',
  data() {
    return {
      user: {
        name: '',
        email: '',
        info: '',
        enrollments: []
      }
    }
  },
  beforeRouteEnter (to, from, next) {
    next(vm => {
      vm.loadUser();
    })
  },
  methods: {
    loadUser: function() {
      var id = this.$route.params.id;
      
      this.$http.get(`users/${id}`).then(response => {
        this.user.name = response.body.name;
        this.user.email = response.body.email;
        this.user.info = response.body.info;
      }, response => {
        this.$router.push('/unexpectederror')
      });

      this.$http.get(`users/${id}/enrollments`).then(response => {
        // TODO: handle multiple pages
        this.enrollments = response.body;
      }, response => {
        this.$router.push('/unexpectederror')
      });
    },
    eventLink: function(event) {
      return `/events/${event.id}`;
    }
  }
}
</script>
