<template>
  <div id="app">
    <profile-preview/>
    <hr />
    <router-view/>
  </div>
</template>

<script>
import ProfilePreview from "./components/ProfilePreview.vue"

export default {
  name: 'app',
  data () {
    return {
    }
  },
  components: {
    ProfilePreview
  }
}
</script>
